{% extends 'licence/base.html' %}





{% block content %}


<div class="table-wrapper">
  <div class="table-scroller last-cell-fixed dragscroll">
    <table class="table">
      <caption class="sr-only">Titre</caption>
      <thead class="thead thead-light">
        <tr>
            {% for colonne in colonnes %}
         <th scope="col"><div class="cell-inner">{{ colonne}}</div></th>
            {% endfor %}
          <td class="cell-placeholder" aria-hidden="true"><span></span></td>
          <th class="cell-fixed"><span class="sr-only">Actions</span></th>
        </tr>
      </thead>
         <tbody class="tbody">
         {% for object in objects %}
            <tr>
                <td><div class="cell-inner">{{ object.logiciel }}</div></td>
              <td><div class="cell-inner">{{ object.statut }}</div></td>
              <td><div class="cell-inner">{{ object.projet }}</div></td>
              <td><div class="cell-inner">{{ object.quantite }}</div></td>
              <td><div class="cell-inner">{{ object.utilisateur }}</div></td>

          <td class="cell-placeholder"><span></span></td>
          <td class="cell-fixed">
            <div class="btn-group dropdown">
              <div class="cell-inner">
                      <button class="btn btn-only-icon btn-transparent btn-favorite" onclick="location.href='{% url 'licence:setDemande' object.id %}'">
                <i class="icons-pencil icons-size-1x25" aria-hidden="true"></i>
              </button>
            </div>
          </td>
        </tr>
{% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}