{% extends 'licence/base.html' %}




{% block content %}
    <div class="actionbar has-tabs">
  <nav role="navigation" aria-label="Étapes" class="d-none d-md-flex">
    <ol class="breadcrumb mt-2 mb-0">
      <li class="breadcrumb-item active" aria-current="step"><a href="#">Utilisateur</a></li>
      <li class="breadcrumb-item disabled" ><a href="#">Projet</a></li>
      <li class="breadcrumb-item disabled"><a href="#">Serveur</a></li>
      <li class="breadcrumb-item disabled"><a href="#">Demande</a></li>
    </ol>
  </nav>
</div>

<br><br><br><br>
<form method="POST">
{% csrf_token %}
    {{ form.as_p}}
 <button class="btn btn-primary" type="submit">Submit form</button>
</form>



<form method="POST">
{% csrf_token %}
    {{ form2.as_p}}
 <button class="btn btn-primary" type="submit">Submit form</button>
</form>

{% endblock %}
