{% load static %}





<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'licence/dist/bootstrap-sncf.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'licence/style.css' %}">
    <!-- Place favicon.ico in the root directory -->
    <title>Gestion Licence</title>
</head>

<body>

    <div class="mastheader">
        <div class="mastheader-logo">
            <a href="/licence">
            <img alt="SNCF" src="{% static 'licence/dist/assets/img/brand/sncf-logo.png' %}" width="70" />
            </a>
        </div>
        <div role="banner" class="mastheader-title d-xl-block">
            <h1 class="text-uppercase text-white pt-2 pl-3 mb-0">Gestion Licence</h1>
        </div>
    </div>

    <main class="mastcontainer bg-white" role="main">
    <br>
         {% block content %}{% endblock %}
    </main>

</body>

<script src="{% static 'licence/dist/bootstrap-sncf.min.js' %}"></script>
</html>

