<h1>{{ demande.logiciel }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
{% csrf_token %}
    <label for="choice{{ demande.id }}">{{ demande.serveur }}</label><br>
<input type="submit" value="Vote">
</form>