{% extends 'licence/base.html' %}

{% block javascript %}
  <script>
    $("#id_utilisateur").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: "{% url 'validate_username' %}",
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
          }
        }
      });

    });
  </script>
{% endblock %}


{% block content %}
<nav role="navigation" aria-label="Étapes" class="d-none d-md-flex">
    <ol class="breadcrumb mt-2 mb-0">
      <li class="breadcrumb-item active" aria-current="step"><a href="#">Logiciel</a></li>
        <li class="breadcrumb-item disabled" id="etape2"><a href="#">Utilisateur</a></li>
      <li class="breadcrumb-item disabled"><a href="#">Demande</a></li>
      <li class="breadcrumb-item disabled"><a href="#">Étape 4</a></li>
    </ol>
  </nav>
    <br>
<form method="POST" class="needs-validation" novalidate>
{% csrf_token %}
     <div class="form-row">
    <div class="col-md-4 mb-3">
      <label class="font-weight-medium mb-2 required" for="validationCustom01">CP</label>
      <div class="form-control-container">
          {{form.cp}}
        <span class="form-control-state"></span>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label class="font-weight-medium mb-2 required" for="validationCustom02">Nom</label>
      <div class="form-control-container">
        {{form.nom}}
        <span class="form-control-state"></span>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label class="font-weight-medium mb-2 required" for="validationCustomUsername">Prenom</label>
      <div class="form-control-container is-invalid">
        {{form.prenom}}
        <span class="form-control-state"></span>
      </div>
      <div class="invalid-feedback" id="inputGroupPrepend">
        Veuillez choisir un pseudo.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label class="font-weight-medium mb-2 required" for="validationCustom03">Adresse mail</label>
      <div class="form-control-container is-invalid">
        {{form.mail}}
        <span class="form-control-state"></span>
      </div>
      <div class="invalid-feedback" id="inputGroupPrepend2">
        Veuillez renseigner une ville valable.
      </div>
    </div>
      <div class="col-md-4 mb-3">
      <label class="font-weight-medium mb-2 required" for="validationCustom02">Entite</label>
      <div class="form-control-container">
        {{form.entite}}
        <span class="form-control-state"></span>
      </div>
    </div>
  </div>
    <div class="form-row">
      {{form.admin}}
      <label class="font-weight-medium mb-2 required" for="validationCustom02">Admin</label>
    </div>
    </div>

<button class="btn btn-primary" type="submit">Submit form</button>
</form>



<script>

var element = document.getElementById('etape2');

var myFunction = function() {
    var xhr = new XMLHttpRequest();

    // On souhaite juste récupérer le contenu du fichier, la méthode GET suffit amplement :
    xhr.open('GET', 'http://127.0.0.1:8000/licence/ajax/all');
    xhr.responseType = "json";
    xhr.send();
    xhr.onprogress = function() {
        console.log("je charge");
    }
    xhr.onload = function () {
        data = JSON.stringify(xhr.response)

        data = JSON.parse(
            data
        )
        for (var i = 0; i < data.length; i++) {
    alert(data[i].nom);
}
    }
}


element.addEventListener('click', myFunction);

</script>


{% endblock %}