{% extends 'licence/base.html' %}




{% block content %}
<nav role="navigation" aria-label="Étapes" class="d-none d-md-flex">
    <ol class="breadcrumb mt-2 mb-0">
      <li class="breadcrumb-item active" aria-current="step"><a href="#">Logiciel</a></li>
        <li class="breadcrumb-item disabled" id="etape2"><a href="#">Utilisateur</a></li>
      <li class="breadcrumb-item disabled"><a href="#">Demande</a></li>
      <li class="breadcrumb-item disabled"><a href="#">Étape 4</a></li>
    </ol>
  </nav>
    <br>
<form method="POST">
{% csrf_token %}
    {{ form.as_p}}
 <button class="btn btn-primary" type="submit">Submit form</button>
</form>



<script>

var element = document.getElementById('etape2');

var myFunction = function() {
    alert("coucou");
};

element.addEventListener('click', myFunction);

</script>


{% endblock %}

