{% extends 'licence/base.html' %}

{% block content %}


            <p class="lead"> CONNEXION </p>
            <!--
            <button class="btn btn-primary" id = 'coucou'>  Bonjour la console !</button>
            <button class="btn btn-primary" id = 'serv'>  Bonjour le serveur !</button>
            -->
        </div>

        <form class="col-md">
            <div class="form-row">
              <div class="col-md">
                <label class="font-weight-medium mb-2 required" for="validationDefault01">Identifiant :</label>
                <div class="form-control-container">
                  <input type="text" class="form-control" id="validationDefault01" placeholder="Numéro CP" required>
                  <span class="form-control-state"></span>
                </div>
              </div>
              <div class="col-md">
                <label class="font-weight-medium mb-2 required" for="validationDefault02">Mot de passe :</label>
                <div class="form-control-container">
                  <input type="password" class="form-control" id="validationDefault02" placeholder="*" required>
                  <span class="form-control-state"></span>
                </div>
              </div>
            </div>
            <div class="container gt-1 gb-1 text-center">
                <button class="btn btn-primary" type="submit">Se connecter</button>
            </div>
          </form>

{% endblock %}