{% extends 'licence/base.html' %}





{% block content %}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Logiciel</h5>
        <p class="card-text">Vous pouvez créer ou modifier un logiciel existant</p>
        <a href="{% url 'licence:new_logiciel'%}" class="btn btn-primary">Créer</a> <a href="{% url 'licence:getAllLogiciel'%}" class="btn btn-primary">Modifier</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Editeur</h5>
        <p class="card-text">Vous pouvez créer ou modifier un éditeur existant</p>
        <a href="{% url 'licence:new_editeur'%}" class="btn btn-primary">Créer</a> <a href="{% url 'licence:getAllEditeur'%}" class="btn btn-primary">Modifier</a>
      </div>
    </div>
  </div>

<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Utilisateur</h5>
        <p class="card-text">Vous pouvez créer ou modifier un utilisateur existant</p>
        <a href="{% url 'licence:new_utilisateur'%}" class="btn btn-primary">Créer</a> <a href="{% url 'licence:getAllUtilisateur'%}" class="btn btn-primary">Modifier</a>
      </div>
    </div>
  </div>

<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Demande</h5>
        <p class="card-text">Vous pouvez créer ou modifier une demande existante</p>
        <a href="{% url 'licence:new_demande'%}" class="btn btn-primary">Créer</a> <a href="{% url 'licence:getAllDemande'%}" class="btn btn-primary">Modifier</a>
      </div>
    </div>
  </div>

<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">DSI</h5>
        <p class="card-text">Vous pouvez créer ou modifier une dsi existante</p>
        <a href="{% url 'licence:new_dsi'%}" class="btn btn-primary">Créer</a>
      </div>
    </div>
  </div>


<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Métrique</h5>
        <p class="card-text">Vous pouvez créer ou modifier une métrique existante</p>
        <a href="{% url 'licence:new_metrique'%}" class="btn btn-primary">Créer</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}












