{% extends 'licence/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'licence/style.css' %}">
{% block content %}

<nav role="navigation" aria-label="Étapes" class="d-none d-md-flex">
    <ol class="breadcrumb mt-2 mb-0">
      <li class="breadcrumb-item active" aria-current="step" id="etape1"><a href="#" id="ecrit1" onclick="functionEtape(0)">Utilisateur</a></li>
        <li class="breadcrumb-item disabled" id="etape2"><a href="#" id="ecrit2" onclick="functionEtape(1)">Logiciel</a></li>
      <li class="breadcrumb-item disabled" id="etape3"><a href="#" id="ecrit3" onclick="functionEtape(2)">Demande</a></li>
      <li class="breadcrumb-item disabled" id="etape4"><a href="#" id="ecrit4" onclick="functionEtape(3)">Étape 4</a></li>
    </ol>
  </nav>
    <br>


<div class="visible" id="coucou1">
 <div class="options-control">
      <div class="options-item">
        <input type="radio" name="optionsRadio" id="optionsRadio1" class="sr-only" checked/>
        <label class="options-btn font-weight-medium" for="optionsRadio1">Attribution</label>
      </div>
      <div class="options-item">
        <input type="radio" name="optionsRadio" id="optionsRadio2" class="sr-only"/>
        <label class="options-btn font-weight-medium" for="optionsRadio2">Restitution</label>
      </div>
    </div>
    <form method="POST" class="needs-validation" id="formUser"novalidate>
    {% csrf_token %}
         <div class="form-row">
        <div class="col-md-4 mb-3">
          <label class="font-weight-medium mb-2 required" for="validationCustom01">CP</label>
          <div class="form-control-container">
              {{form.cp}}
            <span class="form-control-state"></span>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label class="font-weight-medium mb-2 required" for="validationCustom02">Nom</label>
          <div class="form-control-container">
            {{form.nom}}
            <span class="form-control-state"></span>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label class="font-weight-medium mb-2 required" for="validationCustomUsername">Prenom</label>
          <div class="form-control-container is-invalid">
            {{form.prenom}}
            <span class="form-control-state"></span>
          </div>
          <div class="invalid-feedback" id="inputGroupPrepend">
            Veuillez choisir un pseudo.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label class="font-weight-medium mb-2 required" for="validationCustom03">Adresse mail</label>
          <div class="form-control-container is-invalid">
            {{form.mail}}
            <span class="form-control-state"></span>
          </div>
          <div class="invalid-feedback" id="inputGroupPrepend2">
            Veuillez renseigner une ville valable.
          </div>
        </div>
          <div class="col-md-4 mb-3">
          <label class="font-weight-medium mb-2 required" for="validationCustom02">Entite</label>
          <div class="form-control-container">
            {{form.entite}}
            <span class="form-control-state"></span>
          </div>
        </div>
      </div>
        <div class="form-row">
          {{form.admin}}
          <label class="font-weight-medium mb-2 required" for="validationCustom02">Admin</label>
        </div>



        </form>
    </div>
</div>

<div class="invisible" id="coucou2">
    <div class="d-inline-flex p-3 bd-highlight"><label for="select0">Editeur du logiciel</label>
        <select id="select0" onchange="getLogiciel(value)">
            {% for editeur in editeurs %}
                    <option value="{{forloop.counter}}" onclick="getLogiciel({{forloop.counter}})"> {{editeur.nom}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="d-inline-flex p-3 bd-highlight"><label for="select0">Choix du logiciel</label>
    <select id="select1">
      <option selected data-role="default-hidden-option" disabled hidden>Lorem ipsum</option>
      <option data-id="1" >Sem Inceptos Tellus</option>
      <option data-id="2" >Sollicitudin Adipiscing Mattis</option>
      <option data-id="3" >Amet Porta</option>
      <option data-id="4" >Pharetra Fusce Venenatis</option>
    </select></div>
</div>




<div class="invisible" id="coucou3">
{{ form3.as_p }}
</div>

    <div class="d-flex flex-row-reverse ">
  <button class="btn btn-primary" id="coucou" onclick="myFunctionTest()">Submit form</button>
</div>


<script>

var element = document.getElementById('test');

var getLogiciel = function(id) {

    var xhr = new XMLHttpRequest();
    // On souhaite juste récupérer le contenu du fichier, la méthode GET suffit amplement :
    xhr.open('GET', 'http://127.0.0.1:8000/licence/ajax/logiciel/'+id);
    console.log('http://127.0.0.1:8000/licence/ajax/logiciel/'+id)
    xhr.responseType = "json";
    xhr.send();
    xhr.onprogress = function() {
        console.log("je charge");
    }
    xhr.onload = function () {
        var element2 = document.getElementById('select1');
        element2.options.length = 0;
        data = JSON.stringify(xhr.response)
        nom = []
        data = JSON.parse(
            data
        )
        console.log(data.length)
        console.log(data)
        for (var i = 0; i < data.length; i++) {
            console.log("Valeur requête GET : " +data[i].nom);
            element2.options.add(new Option(data[i].nom, i));
        }
    }

}

</script>





<script>
var etape = 1;
var element = document.getElementById('coucou');
var element1 = document.getElementById("etape1");
var element2 = document.getElementById("etape2");
var element3 = document.getElementById("etape3");
var element4 = document.getElementById("etape4");
var etape1 = document.getElementById("coucou1");
var etape2 = document.getElementById("coucou2");
var etape3 = document.getElementById("coucou3");

var validEtape1 = false;
var validEtape2 = false;
var validEtape3 = false;

var myFunctionTest = function() {
    console.log(etape)
    if (etape == 1) {
        validEtape1 = true;
    }
    else if (etape == 2) {
        validEtape2 = true;
    }
    else if (etape == 3) {
        validEtape3 = true;
    }
    else if (etape == 4) {
        validEtape4 = true;
    }
    functionEtape(etape);
}



var functionEtape = function(numEtape) {
    if ((numEtape == 1 && validEtape1)) {
        document.getElementById("ecrit1").className="textValide";
        etape1.className="invisible";
        etape2.className="visible";
        etape3.className="invisible";
        element1.className="breadcrumb-item disabled";
        element2.className="breadcrumb-item active";
        etape = 2;
        validEtape2 = false;
    }
    else if ((numEtape == 1 && !validEtape1)) {
        document.getElementById("ecrit1").className="textAlerte";
        console.log("coucou")
    }
    else if ((numEtape == 2 && validEtape2)) {
        document.getElementById("ecrit2").className="textValide";
        etape1.className="invisible";
        etape2.className="invisible";
        etape3.className="visible";
        element2.className="breadcrumb-item disabled";
        element3.className="breadcrumb-item active";
        etape = 3;
        validEtape3 = false;
    }
    else if ((numEtape ==3 && validEtape3)) {
        document.getElementById("ecrit3").className="textValide";
        element3.className="breadcrumb-item disabled";
        element4.className="breadcrumb-item active";
        etape = 4;
        validEtape4 = false;
    }
    else if ((numEtape == 0 && validEtape4))  {
        document.getElementById("ecrit1").className="textEnCours";
        etape1.className="visible";
        etape2.className="invisible";
        etape3.className="invisible";
        etape = 1;
        validEtape1 = false;
    }

}


</script>

    <script>



    </script>

{% endblock %}