{% extends 'licence/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'licence/style.css' %}">
{% block content %}

    <nav role="navigation" aria-label="Étapes" class="d-none d-md-flex">
        <ol class="breadcrumb mt-2 mb-0">
            <li class="breadcrumb-item active" aria-current="step" id="stepperEtape1"><a href="#" id="stepperText1" onclick="functionEtape(0)">Utilisateur</a></li>
            <li class="breadcrumb-item disabled" id="stepperEtape2"><a href="#" id="stepperText2" onclick="functionEtape(1)">Projet</a></li>
            <li class="breadcrumb-item disabled" id="stepperEtape3"><a href="#" id="stepperText3" onclick="functionEtape(2)">Logiciel</a></li>
            <li class="breadcrumb-item disabled" id="stepperEtape4"><a href="#" id="stepperText4" onclick="functionEtape(3)">Metrique</a></li>
            <li class="breadcrumb-item disabled" id="stepperEtape5"><a href="#" id="stepperText5" onclick="functionEtape(4)">Récapitulatif</a></li>
        </ol>
    </nav>
    <br>

    <div class="d-none" id="alerte">
        <div class="form-error mb-3">
            <h2 class="text-uppercase">Attention, il y a une erreur !</h2>
            <ul class="mt-1 mb-0" id="errList">
            </ul>
        </div>
    </div>


    <div class="d-block" id="etape1">
        <div class="options-control">
            <div class="options-item">
                <input type="radio" name="optionsRadio" id="attribution" class="sr-only" checked/>
                <label class="options-btn font-weight-medium" for="attribution">Attribution</label>
            </div>
            <div class="options-item">
                <input type="radio" name="optionsRadio" id="restitution" class="sr-only"/>
                <label class="options-btn font-weight-medium" for="restitution">Restitution</label>
            </div>
        </div>

        <form method="POST" class="needs-validation" id="formUser" novalidate>
            {% csrf_token %}
            <div id="test">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label class="font-weight-medium mb-2 required" for="cp">Numéro de CP</label>
                        <div class="form-control-container" id="divcp">
                            <input type="text" class="form-control" id="cp" placeholder="Numéro de CP" value="9103891J" aria-describedby="errcp" required>
                            <span class="form-control-state"></span>
                        </div>
                        <div class="invalid-feedback" id="errcp">
                            Veuillez renseigner votre numéro de CP.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="font-weight-medium mb-2 required" for="mail">Adresse de messagerie</label>
                        <div class="form-control-container" id="divmail">
                            <input type="text" class="form-control" id="mail" placeholder="Adresse de messagerie" value="fabien.brunet@sncf.fr" aria-describedby="errmail" required>
                            <span class="form-control-state"></span>
                        </div>
                        <div class="invalid-feedback" id="errmail">
                            Veuillez renseigner une adresse de messagerie.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label class="font-weight-medium mb-2 required" for="nom">Nom</label>
                        <div class="form-control-container" id="divnom">
                            <input type="text" class="form-control" id="nom" placeholder="Nom" value="Brunet" aria-describedby="errnom" required>
                            <span class="form-control-state"></span>
                        </div>
                        <div class="invalid-feedback" id="errnom">
                            Veuillez renseigner votre nom.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="font-weight-medium mb-2 required" for="prenom">Prénom</label>
                        <div class="form-control-container" id="divprenom">
                            <input type="text" class="form-control" id="prenom" placeholder="Prénom" value="Fabien" aria-describedby="errprenom" required>
                            <span class="form-control-state"></span>
                        </div>
                        <div class="invalid-feedback" id="errprenom">
                            Veuillez renseigner votre prénom.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="selectDSI">DSI</label>
                        <select id="selectDSI">
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="dateRea" class="font-weight-medium mb-2">Date de réalisation souhaitée</label>
                        <div data-component="picker" data-default-date="26/02/2017">
                            <div class="input-group" data-toggle>
                                <div class="form-control-container" id="divdateRea">
                                    <input id="dateRea" type="text" class="form-control" placeholder="Sélectionner une date" data-input>
                                    <span class="form-control-state"></span>
                                </div>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary btn-only-icon" data-role="btn" tabindex="-1" aria-expanded="false">
                                        <i class="icons-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="d-none" id="etape2">
        <form method="POST" class="needs-validation" id="formProjet" novalidate>
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label class="font-weight-medium mb-2 required" for="nomProjet">Nom du projet</label>
                    <div class="form-control-container" id="divnomProjet">
                        <input type="text" class="form-control" id="nomProjet" placeholder="Nom du projet" required>
                        <span class="form-control-state"></span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="selectDSIProjet">DSI</label>
                    <select id="selectDSIProjet">
                    </select>
                </div>
            </div>
        </form>

    </div>

    <div class="d-none" id="etape3">
        <div class="col-md-4 mb-3">
            <label for="selectEditeur">Editeur du logiciel</label>
            <select id="selectEditeur" onchange="getLogiciel()">
                {% for editeur in editeurs %}
                    <option value="{{editeur.id}}" > {{editeur.nom}}</option>
                {% endfor %}
            </select>

        </div>
    <p class="text-danger text-center pl-4 pt-2 pb-2 font-weight-medium" id="textMetrique">
</p>
        <div class="col-md-4 mb-3">
            <label for="selectLogiciel">Choix du logiciel</label>
            <select id="selectLogiciel" onchange="getMetrique(this.options[this.selectedIndex].value)">
            </select>
        </div>

    </div>




    <div class="d-none" id="etape4Serveur">
        <form class="needs-validation" id="formServeur" novalidate>
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label class="font-weight-medium mb-2 required" for="nomServeur">Nom du serveur</label>
                    <div class="form-control-container" id="divnomServeur">
                        <input type="text" class="form-control" id="nomServeur" placeholder="Nom du serveur" required>
                        <span class="form-control-state"></span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="font-weight-medium mb-2 required" for="modele">Modèle</label>
                    <div class="form-control-container" id="divmodele">
                        <input type="text" class="form-control"  id="modele" placeholder="Modèle" aria-describedby="inputGroupPrepend" required>
                        <span class="form-control-state"></span>
                    </div>
                    <div class="d-none" id ="errModele">
                        <div class="invalid-feedback" id="inputGroupPrepend">
                            Veuillez choisir un pseudo.
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <div class="options-control">
                        <div class="options-item" id="physique">
                            <input type="radio" name="optionsRadio"  class="sr-only" checked/>
                            <label class="options-btn font-weight-medium" for="physique">Physique</label>
                        </div>
                        <div class="options-item">
                            <input type="radio" name="optionsRadio" id="virtuel" class="sr-only"/>
                            <label class="options-btn font-weight-medium" for="virtuel">Virtuel</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label class="font-weight-medium mb-2 required" for="nbrCpu">Nombre de CPU</label>
                    <div class="form-control-container" id="divnbrCpu">
                        <input type="text" class="form-control"  id="nbrCpu" placeholder="Nombre de CPU" aria-describedby="inputGroupPrepend2" required>
                        <span class="form-control-state"></span>
                    </div>
                    <div class="invalid-feedback" id="inputGroupPrepend2">
                        Veuillez renseigner un nombre de CPU valide.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="font-weight-medium mb-2 required" for="nbrCore">Nombre de cores</label>
                    <div class="form-control-container" id="divnbrCore">
                        <input type="text" class="form-control"  id="nbrCore" placeholder="Nombre de cores" aria-describedby="inputGroupPrepend2" required>
                        <span class="form-control-state"></span>
                    </div>
                    <div class="invalid-feedback" id="inputGroupPrepend2">
                        Veuillez renseigner un nombre de core valide.
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="d-none" id="etape4Utilisateur">
        <form class="needs-validation" id="formQuantiteUtilisateur" novalidate>
             <div class="col-md-4 mb-3">
                <label class="font-weight-medium mb-2 required" for="quantiteUtiliasteur">Saisir le nombre d'utilisateurs</label>
                <div class="form-control-container" id="divquantiteUtilisateur">
                    <input type="text" class="form-control"  id="quantiteUtilisateur" placeholder="Nombre d'utilisateurs" aria-describedby="inputGroupPrepend2" required>
                    <span class="form-control-state"></span>
                </div>
                <div class="invalid-feedback" id="inputGroupPrepend2">
                    Veuillez renseigner une quantité valide.
                </div>
            </div>
        </form>
    </div>

    <div class="d-none" id="etape5">

        <ul class="list-group">
            <li class="list-group-item management-item">
                <div class="management-item-content">
                    <div class="management-item-symbol">
                        <i class="icons-document icons-size-1x25" aria-hidden="true"></i>
                    </div>
                    <div class="management-item-main">
                        <h2 id="recapTitre">Titre lorem ipsum dolor sit amet</h2>
                        <ul class="meta-list font-weight-medium">
                        </ul>
                        <p class="mb-0 d-none d-lg-block" id="recapUtilisateur"></p>
                        <p class="mb-0 d-none d-lg-block" id="recapServeur"></p>
                        <p class="mb-0 d-none d-lg-block" id="recapMetrique"></p>
                        <p class="text font-weight-bold" id="recapQuantite"></p>
                        <div class="col-md-4 mb-3">
                            <label class="font-weight-medium mb-2 required" for="quantite">Vous pouvez tout de même modifier la quantité ci-dessous.</label>
                            <div class="form-control-container" id="divquantite">
                                <input type="text" class="form-control"  id="quantite" placeholder="Quantite" aria-describedby="inputGroupPrepend2">
                                <span class="form-control-state"></span>
                            </div>
                            <div class="invalid-feedback" id="inputGroupPrepend2">
                                Veuillez renseigner une quantité valide.
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="d-none" id="etape6">
        <form class="needs-validation" id="formDemande" novalidate>
            {% csrf_token %}
            {{ form3.as_p }}
        </form>

    </div>

    <div class="d-flex flex-row-reverse ">
        <button class="btn btn-primary" id="coucou" onclick="functionEtape(getEtape())">Etape suivante</button>
    </div>


    <script>
        var metrique;



        var getAllDsi= function() {
            var xhr = new XMLHttpRequest();
            // On souhaite juste récupérer le contenu du fichier, la méthode GET suffit amplement :
            xhr.open('GET', 'http://127.0.0.1:8000/licence/ajax/dsi');
            xhr.responseType = "json";
            xhr.send();
            xhr.onprogress = function() {
                //ici c'est le chargement
            }
            xhr.onload = function () {
                var element2 = document.getElementById('selectDSI');
                element2.options.length = 0;
                var element3 = document.getElementById('selectDSIProjet');
                element3.options.length = 0;
                data = JSON.stringify(xhr.response)
                nom = []
                data = JSON.parse(
                    data
                )
                for (var i = 0; i < data.length; i++) {
                    element2.options.add(new Option(data[i].nom, i));
                    element3.options.add(new Option(data[i].nom, i));
                }
            }
        }();



        var get = function(url) {
            return new Promise(function (resolve, reject) {
                var xhr = new XMLHttpRequest();

                xhr.onreadystatechange = function () {
                    if(xhr.readyState ===4) {
                        if(xhr.status===200) {
                            resolve(xhr.responseText) // reponse callback
                        } else {
                            reject(xhr)
                        }
                    }
                }
                xhr.open('GET', url, true)
                xhr.send()
                })

        };

        var catchError = function(e) {
            console.error('Erreur ajax', e)
        }
        //recup metrique
        var getMetriqueType = async function (logiciel) {
            var response = await get('http://127.0.0.1:8000/licence/ajax/metrique/'+logiciel)
            var metrique = JSON.parse(response)
            return metrique[0].metrique__type;
        };

        //recup logiciel
        var getLogiciels = async function (editeur) {
            var response = await get('http://127.0.0.1:8000/licence/ajax/logiciel/'+editeur)
            var logiciels = JSON.parse(response)
            return logiciels;
        };

        //recup logiciel
        var getDsi = async function () {
            var response = await get('http://127.0.0.1:8000/licence/ajax/dsi')
            var dsi = JSON.parse(response)
            return dsi;
        };

        initLogiciel = async function(editeur){
            getLogiciels(editeur).then(async function (logiciels) {
                nom = []
                var element2 = await document.getElementById('selectLogiciel');
                element2.options.length = 0;
                logiciels.forEach(function(logiciel) {
                     element2.options.add(new Option(logiciel.nom, logiciel.id));
                }
                )
                getMetrique(logiciels[0].id) // pour initier la première métrique
            }).catch(catchError)
        };

        var initGetLogiciel = function() {
            initLogiciel(1);
        }();


        var getMetrique = async function(logiciel) {
            getMetriqueType(logiciel).then(function (metrique) {
                this.metrique = metrique;
                message = "";
                if (metrique === "Utilisateur") {
                    message = " nombre d'utilisateurs. Lors de l'étape suivante, vous serez invité à renseigner le nombre d'utilisateur.";
                }
                else {
                    message = "x caractéristiques du serveur. Lors de l'étape suivante, vous serez invité à les renseigner."
                }
                document.getElementById("textMetrique").innerHTML="Pour ce logiciel, le calcul de la licence s'effectue par rapport au" + message;
            }).catch(catchError).then(function () {
                console.log("Fin des appels ajax")
            })
        }


        var creationObjet = function () {
            var logiciel = {
                id: 1,
                nom : "Diagnostics Pack - Named User Plus Perpetual"
            }
            var utilisateur = {
                nom: "S24AMNCT143",
                physique: false,
                typeCpu: "Intel",
                modele: "Dell",
                cpu:2,
                cores:8
            };
            var serveur = {
                id: 1,
                cp : "9103891J"
            };
            var dsi = {
                id:1,
                nom: "RESEAU-RESEAU"
            };

            var demande = {
                statut: 1,
                dateCreation: new Date('1995-12-17'),
                dateCloture: new Date('1995-12-17'),
                dateSouhaitee: new Date('1995-12-17'),
                projet: 'ProjetTest',
                clientDDSI: "test DSI",
                droitUsageLogiciel: "testdroit",
                type: 1,
                quantite: 2,
                coreFactor: 1,
                information: "information test",
                logiciel : logiciel,
                utilisateur: utilisateur,
                serveur : serveur,
                dsi: dsi
            }
            var data = new FormData();
            for(name in demande) {
                data.append(name, data[name]);
            }
            console.log(data)

            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'ajax/demande', true)
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
            xhr.send(data)
        }();


        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const request = new Request(
                "http://127.0.0.1:80000/licence/ajax/demande",
                {headers: {'X-CSRFToken': csrftoken},

                });
            fetch(request, {
                method: 'POST',
                mode: 'same-origin'  // Do not send CSRF token to another domain.
            }).then(function(response) {
                log("coucou")
        });
            request();
    </script>





    <script>
        var etape = 1;
        var etape1 = document.getElementById("etape1");
        var etape2 = document.getElementById("etape2");
        var etape3 = document.getElementById("etape3");
        var etape4Serveur = document.getElementById("etape4Serveur");
        var etape4Utilisateur = document.getElementById("etape4Utilisateur");
        var etape5 = document.getElementById("etape5");

        var validEtape1 = false;
        var validEtape2 = false;
        var validEtape3 = false;
        var validEtape4 = false;

        var getEtape = function () {
            return etape;
        }

        var myFunctionTest = function() {
            functionEtape(etape);
        }



        var functionEtape = function(numEtape) {
            var valid;
            if ((numEtape == 1)) {
                valid = verifForm( document.forms["formUser"]);
                if (valid) {
                    document.getElementById("stepperText1").className="textValide";
                    etape1.className="d-none";
                    etape2.className="d-block";
                    etape3.className="d-none";
                    etape4Utilisateur.className="d-none";
                    etape4Serveur.className="d-none";
                    document.getElementById("stepperEtape1").className="breadcrumb-item disabled";
                    document.getElementById("stepperEtape2").className="breadcrumb-item active";
                    etape = 2;
                }
                else {
                    document.getElementById("stepperText1").className="textAlerte";
                }
            }
            else if ((numEtape == 2)) {
                valid = verifForm( document.forms["formProjet"]);
                if (valid) {
                    document.getElementById("stepperText2").className="textValide";
                    etape1.className="d-none";
                    etape2.className="d-none";
                    etape3.className="d-block";
                    etape4Utilisateur.className="d-none";
                    etape4Serveur.className="d-none";
                    document.getElementById("stepperEtape2").className="breadcrumb-item disabled";
                    document.getElementById("stepperEtape3").className="breadcrumb-item active";
                    etape = 3;
                }
                else {
                    document.getElementById("stepperText2").className="textAlerte";
                }
            }
            else if ((numEtape ==3)) {
            // verif logiciel ???
                valid = true;
                if (valid) {
                    document.getElementById("stepperText3").className="textValide";
                    etape1.className="d-none";
                    etape2.className="d-none";
                    etape3.className="d-none";
                    if (metrique === "Utilisateur") {
                        etape4Serveur.className="d-none";
                        etape4Utilisateur.className="d-block";
                    }
                    else {
                        etape4Serveur.className="d-block";
                        etape4Utilisateur.className="d-none";
                    }
                    document.getElementById("stepperEtape3").className="breadcrumb-item disabled";
                    document.getElementById("stepperEtape4").className="breadcrumb-item active";
                    etape = 4;
                }
                else {
                    document.getElementById("stepperText3").className="textAlerte";
                }
            }
            else if ((numEtape == 4)) {
                if (metrique == "Utilisateur") {
                    valid = verifForm(document.forms["formQuantiteUtilisateur"]);
                }
                else{
                    valid = verifForm(document.forms["formServeur"]);
                }
                if (valid) {
                    document.getElementById("stepperText4").className="textValide";
                    etape1.className="d-none";
                    etape2.className="d-none";
                    etape3.className="d-none";
                    etape4Utilisateur.className="d-none";
                    etape4Serveur.className="d-none";
                    etape5.className="d-block";
                    document.getElementById("stepperEtape4").className="breadcrumb-item disabled";
                    document.getElementById("stepperEtape5").className="breadcrumb-item active";
                    etape = 3;

                    //test
                    var sel = document.getElementById("selectLogiciel");
                    document.getElementById("recapTitre").innerHTML= sel.options[sel.selectedIndex].text;
                    if(metrique === "Utilisateur") {
                       document.getElementById("recapServeur").innerHTML= "Licence utilisée pour " + document.getElementById("quantiteUtilisateur").value + " utilisateurs.";
                    }
                    else {
                         var recapserveur = "Installation sur le " + document.getElementById("nomServeur").value + ", qui est un serveur physique possédant "+ document.getElementById("nbrCpu").value + " CPU et " + document.getElementById("nbrCore").value + " Cores.";
                         document.getElementById("recapServeur").innerHTML= recapserveur;
                    }

                    document.getElementById("recapUtilisateur").innerHTML= "Utilisateur: " + document.getElementById("nom").value + " "+ document.getElementById("prenom").value + ' | Projet : ' + document.getElementById("nomProjet").value;
                    document.getElementById("recapMetrique").innerHTML= "La quantité est calculée en fonction du nombre de "+ metrique + " ."
                    document.getElementById("recapQuantite").innerHTML= "Par rapport aux informations données, nous vous conseillons la quantité suivante : 2";
                    document.getElementById("quantite").value = 2;
                }
                else {
                    document.getElementById("stepperText4").className="textAlerte";
                }
            }

        }

        var verifForm = function (form) {
            var listForm = [];
            for (var i = 0; i < form.length; i++) {
                model = form.elements[i];

                if (model.placeholder != null && model.placeholder != "") {
                    listForm.push({num : model.value.length, nom: model.placeholder, id: model.id});
                }
            }
            var compteurErreur = 0;
            for (var i = 0; i < listForm.length; i++) {
                if (!listForm[i].num > 0 && document.getElementById("div"+listForm[i].id).className != "form-control-container is-invalid") {
                    document.getElementById("alerte").className="d-block";
                    document.getElementById("div"+listForm[i].id).className="form-control-container is-invalid"
                    // on ajouer l'erreur dans le message
                    var errList = document.getElementById("errList"); // récupération de la liste
                    var iLength = errList.getElementsByTagName("li").length; // longueur de la liste (nombre d'items)
                    var oLi = document.createElement("li"); // on cré un nouveau noeud item de liste
                    var oText = document.createTextNode("Merci de renseigner le champs : " + listForm[i].nom); // on cré un noeud texte
                    errList.appendChild(oLi); // on attache le noeud item de liste au noeud liste
                    oLi.appendChild(oText); // on attache le noeud texte au noeud item de liste
                    oLi.id = "li" + listForm[i].id;
                    compteurErreur++;
                }
                else if (!listForm[i].num > 0) {
                    compteurErreur++;
                }
                else if (document.getElementById("div"+listForm[i].id).className == "form-control-container is-invalid") {
                    document.getElementById("div"+listForm[i].id).className="form-control-container"
                    document.getElementById("li"+listForm[i].id).remove();
                }
            }
            if (compteurErreur > 0) return false
            else {
                document.getElementById("alerte").className="d-none";
                return true;}
        }




    </script>

{% endblock %}