
.textValide {
  color : green;
}

.textEnCours {
  color : green;
  font-weight: bold;
}

/*
.textAlerte {
  color : red;
  font-weight: bold;
}

#etape2 {
  margin-top: -291px;
}

#etape3 {
  margin-top: -83px;
}

#etape4 {
  margin-top: -208px;
}
*/
